body{
  background: url(../img/beer.svg) -15em 0 repeat fixed;
  background-size: 30em;
  font-family: 'Architects Daughter', cursive;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: 'Gloria Hallelujah', cursive;
}

.col-6 > ul{
  overflow: scroll;
  height: 10em
}

.border-bottom{
  border-color: #000 !important;
}